.feed-content > div > div > div {
  margin-bottom: 20px;
}

.Unauth .page .Header-root {
  margin-top: 5%;
  justify-content: center;
  font-weight: normal;
}

.Home .Header-root {
  margin-top: 5%;
  justify-content: center;
  font-weight: normal;
}

.custom-ui {
  text-align: center;
  .Header-root {
    display: flex;
    justify-content: center;
  }
  .btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(56, 56, 56, 0.7);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;

  .CardTitle-root {
    display: flex;
    justify-content: space-between;
    .Link-root {
      font-size: 1rem;
      margin-right: 20px;
      color: rgb(255, 0, 0);
    }
  }

  .CallToAction-root {
    width: auto;
  }

  .content-text-editor {
    line-height: 1.6rem;
    letter-spacing: 1px;
    font-family: "Raleway-Regular";
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: rgb(250, 250, 250);

    &:focus {
      // outline: 1px solid rgb(155, 155, 155);
      outline: none;
      box-shadow: 0 0px 3px 1px rgb(212, 212, 212);
      border: none;
    }
  }
}

.Feed .Page-content,
.Profile .Page-content,
.View .Page-content {
  position: relative;
  overflow: hidden;

  & > div:nth-child(2) {
    position: absolute;
    overflow-y: auto;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .NavigationBar-root {
    z-index: 999;
  }
}

.CardTitle-root {
  background: #00000005;
  border-bottom: 1px solid #e8e8e8;
}

.feed-content {
  width: 90%;
  max-width: 700px;
  margin: 60px auto 20px auto;
}

.card-stats {
  display: flex;
  & > div {
    margin-right: 20px;
  }
}

.overlay {
  padding: 20px;
  border: solid white 1px;
  border-radius: 3px;
  color: white;
}

.Profile {
  .Grid-root {
    @media screen and (max-width: 1550px) {
      grid-template-columns: 1fr 1fr 1fr !important;
    }
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr !important;
    }
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr !important;
    }
  }

  & section {
    display: grid;
    grid-template-columns: 400px 1fr;
  }

  .Card-root {
    margin-top: 20px;
  }

  .Grid-root {
    .CardTitle-root {
      display: flex;
      justify-content: space-between;
      .Link-root {
        font-size: 1rem;
        margin-right: 20px;
      }
    }
  }

  .information-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    transition: none;

    .CardTitle-root {
      width: auto;
    }

    .Link-root {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .profile-text p {
      margin: 0;
    }

    .profile-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .edit {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
  }
}

.CommandBar-root {
  width: 100%;
  border-bottom: solid rgb(201, 201, 201) 1px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 40px;
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;

  .CallToAction-root {
    width: auto;
  }

  .far .Link-root {
    // border: solid 1px grey;
    margin-left: 20px;
    box-sizing: border-box;
  }
}

.Register {
  .TextInput-root {
    margin: 0 !important;
    width: 100% !important;
  }
  .Grid-root {
    margin: 0;
  }
}

#bhfghiolki87377y8r2h98r72h89r29 {
  .Link-root {
    padding: 0px;
  }
}

.react-search-box-dropdown-list-item {
  font-family: "Raleway-Regular";
}

.sc-bdVaJa {
  font-family: "Raleway-Regular";
}

.sc-bwzfXH {
  overflow: auto;
  max-height: 250px;
}
